* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.img-fluid {
    width: 100%;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.list-unstyled {
    list-style: none;
}

@import '_gentium1.scss';
@import '_gentium2.scss';